.display-great {
    display: none;
}
.dispaly-medium {
    display: none;
}
.display-mini {
    display: none;
}
.menu{
    padding-left: 0;
}
.menu li{
    display: inline;
    list-style-type:none;
}